@import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');

.animated-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: url(D:\Coding\Projects\spotiC\spotic_frontend\assets\background5.gif) center center fixed;
    background-size: cover;
}

.animated-background .container {
    color: rgba(245, 245, 245, 0.712);
    /* font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif; */
    transform: translate(0, -10%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    /* position: absolute; */
    /* top: 50%;  */
    /* right: 50%; */
    /* transform: translate(50%,-50%); */
    text-transform: uppercase;
    font-family: verdana;
    font-size: 12em;
    font-weight: 700;
    /* color: #f5f5f5; */
    color: #1DB954;
    text-shadow: 1px 1px 1px #919191,
    /* text-shadow: 1px 1px 1px #1DB954, */
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 10px 1px #919191,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
}

h2 {
    font-size: 2.5rem;
    font-weight: 900;
    -webkit-text-stroke: 1px black;
}

.container span{
    position: relative;
    display: inline-flex;
    width: 180px;
    height: 55px;
    margin: 0 15px;
    perspective: 1000px;
}

.container span a{
    font-size: 19px;
    letter-spacing: 1px;
    transform-style: preserve-3d;
    transform: translateZ(-25px);
    transition: transform .25s;
    font-family: 'Montserrat', sans-serif;
}

.container span a:before,
.container span a:after{
    position: absolute;
    content: "JOIN US NOW";
    height: 55px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid black;
    box-sizing: border-box;
    border-radius: 5px;
}

.container span a:before{
    color: #fff;
    background: #000;
    transform: rotateY(0deg) translateZ(25px);
}

.container span a:after{
    color: #000;
    transform: rotateX(90deg) translateZ(25px);
}

.container span a:hover{
    transform: translateZ(-25px) rotateX(-90deg);
}