body {
  font-family: "Circular", Arial, sans-serif;
  background-color: #191414;
  color: white;
  margin: 0;
  padding: 0;
  margin-bottom: 110px;
}

.playlist {
  height: 55vh;
  max-height: none;
  min-height: 340px;
  background-color: #3b3b3b;
  color: #fff;
  display: flex;
  max-width: none;
  overflow: hidden;
  padding-bottom: 24px;
  position: relative;
  flex: 1;
  flex-flow: column;
  justify-content: flex-end;
  z-index: 0;
}

.playlist_artist_year_total {
  display: flex;
}

.playlist_song_index {
	margin-right: 8px;
	width: 50px;
	text-align: center;
}


.playlist_song:hover .play-icon {
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: white;
  z-index: 1;
}

.playlist_song:hover .playlist_song_index {
  opacity: 0;
}

.playlist_artist_name_year_song {
  padding-left: 3px;
  font-size: 1.5rem;
  line-height: 2;
  margin-top: 4px;
}

.playlist_artist_name {
  display: inline-block;
  box-sizing: border-box;
  color: var(--text-base, white);
  text-decoration: none; /* Remove the underline */
}

.playlist_song_header {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  margin-top: 50px;
  overflow-x: auto;
  overflow: auto;
}

.playlist_song_header_item {
  flex: 1;
  color: var(--text-subdued, #6a6a6a);
  font-size: 1.05rem;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 180px;
  padding-right: 20px;
}

.playlist_song_header_title {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 270px;
  padding-right: 10px;
  padding-left: 160px;
}

.playlist_song_header_hits,
.playlist_song_header_length {
  flex: 0 0 60px;
  text-align: right;
}

h5.non-bold {
  font-weight: normal;
}


.playlist_song_header_length {
  padding-right: 70px;
}

.playlist_info {
  position: absolute;
  bottom: 0;
  left: 0;
  padding-left: 450px;
  padding-bottom: 50px;
  width: 100%;
  box-sizing: border-box;
}

.playlist_img {
  width: 325px;
  position: absolute;
  padding-left: 60px;
  padding-bottom: 20px;
}

.playlist_name {
  text-align: left;
  margin-block: 0px;
  font-weight: 900;
  color: white;
  font-size: 5.5rem;
}

.playlist_title {
  margin-top: 50px;
  padding-left: 40px;
}

.playlist_song_container {
  margin-top: 10px;
  margin-bottom: 16px;
  padding-left: 50px;
  padding-right: 50px;
}

.playlist_song {
  background: #181818;
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  margin: 15px;
  display: flex;
  align-items: center;
  position: relative;
}


.playlist_song:hover {
  background-color: #3b3b3b;
}

.playlist_song_info {
  display: flex;
  margin-left: 40px;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}

.playlist_song_name {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 270px;
}

.playlist_song_hits {
  flex: 0 0 30px;
  text-align: right;
}

.playlist_song_length {
  flex: 0 0 30px;
  text-align: right;
  padding-right: 60px;
}

.playlist_other_playlist_container {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
  margin-bottom: 16px;
  padding-left: 30px;
  overflow: auto;
}

.playlist_other_playlist {
  background: #181818;
  border: 1px solid #181818;
  font-size: 24px;
  font-weight: bold;
  min-width: 250px;
  width: 250px;
  margin: 10px;
  padding-top: 10px;
  text-align: center;
  padding-bottom: 25px;
}

.playlist_other_playlist:hover {
  background-color: #3b3b3b;
}

.playlist_other_playlist_name {
  display: inline-block;
  box-sizing: border-box;
  margin: 5px 0;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--text-base, white);
  text-decoration: none; /* Remove the underline */
}

.playlist_other_playlist_year {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 5px 0;
  font-size: 1.25rem;
  font-weight: 400;
  color: var(--text-subdued, #6a6a6a);
  display: inline-block;
  text-decoration: none;
}


.playlist_other_playlist_img {
  height: 200px;
  width: 200px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
  margin-bottom: 5px;
}
.container {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.playlist-home-container {
  display: flex;
  width: 100%;
  overflow: hidden;
  height: calc(100vh - 110px);
}