body {
  font-family: "Circular", Arial, sans-serif;
  background-color: #191414;
  color: white;
}

.home_word {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
}

.home_title {
  padding-left: 10px;
}

.home_song_container {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
  margin-bottom: 16px;
  overflow: auto;
}

.home_song {
  background: #181818;
  border: 1px solid #181818;
  font-size: 24px;
  font-weight: bold;
  min-width: 350px;
  width: 350px;
  margin: 10px;
  text-align: center;
  display: flex;
  align-items: center;
}

.home_song:hover {
  background-color: #3b3b3b;
}
.home_song_img {
  height: 100px;
  width: 100px;
}
.home_song_info {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
}

.home_song_name {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.home_song_artist_name {
  text-align: left;
  text-decoration: none;
  box-sizing: border-box;
  margin: 5px 0;
  font-size: 1.125rem;
  font-weight: 400;
  color: var(--text-subdued, #6a6a6a);
}

.home_artist_container {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
  margin-bottom: 16px;
  overflow: auto;
}

.home_artist {
  background: #181818;
  border: 1px solid #181818;
  font-size: 24px;
  font-weight: bold;
  min-width: 200px;
  width: 200px;
  margin: 10px;
  padding-top: 10px;
  text-align: center;
  padding-bottom: 25px;
}

.home_artist:hover {
  background-color: #3b3b3b;
}

.home_artist_name {
  display: inline-block;
  box-sizing: border-box;
  margin: 5px 0;
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--text-base, white);
  text-decoration: none; /* Remove the underline */
}

.home_artist_genre {
  box-sizing: border-box;
  display: inline-block;
  margin: 5px 0;
  font-size: 0.8125rem;
  font-weight: 400;
  color: var(--text-subdued, #6a6a6a);
  text-decoration: none;
}

.home_artist_img {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
  margin-bottom: 5px;
}

.container {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
