body {
  font-family: "Circular", Arial, sans-serif;
  background-color: #191414;
  color: white;
}

.container {
  display: flex;
}

.sidebar {
  background: #130f0f;
  color: #fff;
  min-width: 200px;
  margin-right: 30px;
  height: 30px;
  padding: 30px;
}

.sidebar_home_icon {
  background: #181818;
  border: 1px solid #181818;
  font-size: 24px;
  font-weight: bold;
  min-width: 350px;
  width: 420px;
  margin: 10px;
  text-align: center;
  display: flex;
  align-items: center;
}
.home_word {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
}

.home_title {
  padding-left: 10px;
}

.home_song_container {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
  margin-bottom: 16px;
  overflow: auto;
}

.home_song {
  background: #181818;
  border: 1px solid #181818;
  font-size: 24px;
  font-weight: bold;
  min-width: 350px;
  width: 350px;
  margin: 10px;
  text-align: center;
  display: flex;
  align-items: center;
}

.home_song:hover {
  background-color: #3b3b3b;
}
.home_song_img {
  height: 100px;
  width: 100px;
}
.home_song_info {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
}

.home_song_name {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.home_song_artist_name {
  text-align: left;
  text-decoration: none;
  box-sizing: border-box;
  margin: 5px 0;
  font-size: 1.125rem;
  font-weight: 400;
  color: var(--text-subdued, #6a6a6a);
}

.home_artist_container {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
  margin-bottom: 16px;
  overflow: auto;
}

.home_artist {
  background: #181818;
  border: 1px solid #181818;
  font-size: 24px;
  font-weight: bold;
  min-width: 200px;
  width: 200px;
  margin: 10px;
  padding-top: 10px;
  text-align: center;
  padding-bottom: 25px;
}

.home_artist:hover {
  background-color: #3b3b3b;
}

.home_artist_name {
  display: inline-block;
  box-sizing: border-box;
  margin: 5px 0;
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--text-base, white);
  text-decoration: none; /* Remove the underline */
}

.home_artist_genre {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 5px 0;
  font-size: 0.8125rem;
  font-weight: 400;
  color: var(--text-subdued, #6a6a6a);
}

.home_artist_img {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
  margin-bottom: 5px;
}

/*
.play_button {
  position: absolute;
  margin-left: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.play_button::before {
  content: "";
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 16px solid #333;
  margin-right: 5px;
}

.play_button:hover {
  background-color: rgba(255, 255, 255, 1);
}
*/

/* Hide exceeding home_artist components */
/*
@media (max-width: 1050px) {
  .home_artist:nth-child(n + 5) {
    display: none;
  }
}
@media (max-width: 840px) {
  .home_artist:nth-child(n + 4) {
    display: none;
  }
}

@media (max-width: 630px) {
  .home_artist:nth-child(n + 3) {
    display: none;
  }
}
@media (max-width: 420px) {
  .home_artist:nth-child(n + 2) {
    display: none;
  }
}
@media (max-width: 360px) {
  .song_artist:nth-child(n + 1) {
    display: none;
  }
}
@media (max-width: 210px) {
  .home_artist:nth-child(n + 1) {
    display: none;
  }
}
*/
